<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('partials/head_meta') %>

        <title>Dashboard - Art Collection | EFAS Art</title>

        <%- include('scripts/stylesheet') %>

        <%- include('partials/head_styles') %>

        <link rel="stylesheet" href="/css/user-page_works.css">
        <link rel="stylesheet" href="/css/user-page_collections.css">
        <link rel="stylesheet" href="/css/dashboard.css">

        <style>
            :root {
                --card-collection-width: 150px;
                --card-collection-height: 150px;
            }

            .art-col-cont::after {
                content: "" !important;
                flex: auto !important;
            }

            .row {
                --bs-gutter-x: unset;
            }

            #all-col-cont {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                justify-items: center;
            }
        </style>
    </head>

    <body>
        <%- include('partials/nav-bar', { active: 2 }) %>

        <div id="content-cont" class="container my-5">
            <header class="mb-5">
                <h1 class="display-5">Dashboard</h1>
            </header>
            <main>
                <%- include('partials/dashboard/nav', { active: 2 }) %>

                <div class="container-fluid d-flex align-items-center mb-2">
                    <a href="/profile/artworks" class="text-dark">
                        <i class="me-2 fas fa-arrow-left" style="font-size: 1.25em;"></i>
                    </a>
                    <h3 class="m-0"><%= col.name %></h3>
                    <a href="/profile/artworks/collections" class="nav-link ms-auto p-0">
                        <button class="btn btn-primary btn-rounded">
                            <i class="fas fa-edit me-1"></i>
                            Edit
                        </button>
                    </a>
                </div>

                <div class="container-fluid py-3">
                    <p class="lead" style="text-indent: 2em;"><%= col.desc %></p>

                    <small class="ms-auto text-muted">Created on <%= col.date %></small>
                </div>

                <% if (col.arts.length > 0) { %>
                    <div id="all-col-cont" class="container-fluid px-0 gap-3 mt-3 pb-4">
                        <% col.arts.forEach(art => { %>
                            <%- include('data/dashboard_art', {
                                art_id: art.id,
                                art_title: art.title,
                                art_src: art.pic
                            }) %>
                        <% }) %>
                    </div>
                <% } else { %>
                    <div class="my-5 container-fluid d-flex flex-column align-items-center">
                        <text class="text-muted">this collection doesn't contain any artwork yet</text>
                        <button class="m-4 btn btn-primary">Upload an artwork</button>
                    </div>
                <% } %>
            </main>
        </div>

        <%- include('partials/footer') %>
    </body>

</html>
