<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('partials/head_meta') %>

        <title>Dashboard - Security Settings | EFAS Art</title>

        <%- include('scripts/stylesheet') %>

        <%- include('partials/head_styles') %>

        <link rel="stylesheet" href="/css/dashboard.css">
        <link rel="stylesheet" href="/css/user-page_works.css">
        <link rel="stylesheet" href="/css/user-page_collections.css">
    </head>

    <body>
        <%- include('partials/nav-bar', { active: 2 }) %>

        <div id="content-cont" class="container my-5">
            <header class="mb-5">
                <h1 class="display-5">Dashboard</h1>
            </header>
            <main>
                <%- include('partials/dashboard/nav', { active: 5 }) %>

                <div class="d-flex align-items-start">
                    <%- include('partials/dashboard/settings-nav', { active: 2 }) %>

                    <div id="setting-cont" class="border-start border-dark ms-5 ps-5 w-50">
                        <form id="security_form" method="post" oninput="security_form_validate()">
                            <div class="form-group">
                                <label for="cur_pass" class="col-form-label">Current password</label>
                                <input type="password" class="form-control" id="cur_pass"
                                    placeholder="Enter current password" name="cur_pass" required>
                                <div id="cur_pass_feed" class="invalid-feedback"></div>
                            </div>

                            <div class="form-group">
                                <label for="new_pass" class="col-form-label">New password</label>
                                <input type="password" class="form-control" id="new_pass"
                                    placeholder="Enter new password" name="new_pass" required>
                                <div id="new_pass_feed" class="invalid-feedback"></div>
                            </div>

                            <div class="form-group">
                                <label for="re_new_pass" class="col-form-label">Confirm password</label>
                                <input type="password" class="form-control" id="re_new_pass"
                                    placeholder="Please enter new password again" name="re_new_pass" required>
                                <div id="re_new_pass_feed" class="invalid-feedback"></div>
                            </div>

                            <button type="submit" class="mt-3 btn btn-primary">Save changes</button>

                        </form>
                    </div>
                </div>
            </main>
        </div>

        <%- include('partials/footer') %>

        <script src="js/auth/validation.js"></script>
        <script src="js/auth/update_security.js"></script>
    </body>

</html>
