<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('partials/head_meta') %>

        <title>Dashboard - Watermark Collections | EFAS Art</title>

        <%- include('scripts/stylesheet') %>

        <%- include('partials/head_styles') %>

        <link rel="stylesheet" href="/css/user-page_works.css">
        <link rel="stylesheet" href="/css/user-page_collections.css">
        <link rel="stylesheet" href="/css/dashboard.css">

        <style>
            :root {
                --card-collection-width: 150px;
                --card-collection-height: 150px;
            }

            .art-col-cont::after {
                content: "" !important;
                flex: auto !important;
            }

            .row {
                --bs-gutter-x: unset;
            }

            #all-col-cont {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                justify-items: center;
            }

        </style>
    </head>

    <body>
        <%- include('partials/nav-bar', { active: 2 }) %>

        <div id="content-cont" class="container my-5">
            <header class="mb-5">
                <h1 class="display-5">Dashboard</h1>
            </header>
            <main>
                <%- include('partials/dashboard/nav', { active: 3 }) %>

                <div class="container-fluid d-flex align-items-center mb-3">
                    <a href="/profile/watermarks" class="text-dark">
                        <i class="me-2 fas fa-arrow-left" style="font-size: 1.25em;"></i>
                    </a>
                    <h3 class="m-0">All collections</h3>
                    <a href="#" class="nav-link ms-auto p-0">
                        <a href="/profile/watermarks/collection/create" role="button" class="m-4 btn btn-primary">
                            Create new collection
                        </a>
                    </a>
                </div>

                <% if (wat_cols.length > 0) { %>
                <div id="all-col-cont" class="container-fluid px-0 gap-3 pb-4">
                    <% wat_cols.forEach(col => { %>
                    <%- include('data/dashboard_collection', {
                                col_id: col.id,
                                col_title: col.title,
                                col_src: col.pic,
                                type: 'wtm'
                            }) %>
                    <% }) %>
                </div>
                <% } else { %>
                <div class="my-5 container-fluid d-flex flex-column align-items-center">
                    <text class="text-muted">you don't have any collection yet</text>
                    <a href="/profile/watermarks/collection/create" role="button" class="m-4 btn btn-primary">Create a
                        new watermark collection</a>
                </div>
                <% } %>
            </main>
        </div>

        <%- include('partials/footer') %>
    </body>

</html>
