<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('partials/head_meta') %>

        <title>Dashboard - Watermarks | EFAS Art</title>

        <%- include('scripts/stylesheet') %>

        <%- include('partials/head_styles') %>

        <link rel="stylesheet" href="/css/user-page_works.css">
        <link rel="stylesheet" href="/css/user-page_collections.css">
        <link rel="stylesheet" href="/css/dashboard.css">

        <style>
            #all-watermark-cont {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                justify-items: center;
            }
        </style>
    </head>

    <body>
        <%- include('partials/nav-bar', { active: 2 }) %>

        <div id="content-cont" class="container my-5">
            <header class="mb-5">
                <h1 class="display-5">Dashboard</h1>
            </header>
            <main>
                <%- include('partials/dashboard/nav', { active: 3 }) %>

                <div class="d-flex align-items-center mb-3">
                    <h3 class="m-0">Collections</h3>
                    <a href="/profile/watermarks/collections" class="nav-link ms-auto p-0">
                        <button class="btn btn-primary btn-rounded">Manage</button>
                    </a>
                </div>

                <% if (wat_cols.length > 0) { %>
                    <div id="recent-cont" class="container-fluid px-0 d-flex gap-3 pb-4 mb-5 custom-scroll">
                        <% wat_cols.forEach(col => { %>
                            <%- include('data/dashboard_collection', {
                                col_id: col.id,
                                col_title: col.title,
                                col_src: col.pic,
                                type: 'wtm'
                            }) %>
                        <% }) %>
                    </div>
                <% } else { %>
                    <div class="my-5 container-fluid d-flex flex-column align-items-center">
                        <text class="text-muted">you don't have any watermark collection</text>
                        <a href="/profile/watermarks/collection/create" role="button" class="m-4 btn btn-primary">Create a collection</a>
                    </div>
                <% } %>

                <div class="d-flex align-items-center mb-3">
                    <h3 class="m-0">All watermarks</h3>
                    <a href="/profile/watermarks/collections" class="nav-link ms-auto p-0">
                        <a href="/profile/watermarks/upload" role="button" class="m-4 btn btn-primary">Upload new Watermark</a>
                    </a>
                </div>

                <% if (wats.length > 0) { %>
                    <div id="all-watermark-cont" class="px-0 gap-3 pb-4">
                        <% wats.forEach(wat => { %>
                            <%- include('data/dashboard_wtm', {
                                wtm_id: wat.id,
                                wtm_title: wat.title,
                                wtm_src: wat.pic
                            }) %>
                        <% }) %>
                    </div>
                <% } else { %>
                    <div class="my-5 container-fluid d-flex flex-column align-items-center">
                        <text class="text-muted">you don't have any watermark</text>
                        <a href="/profile/watermarks/upload" role="button" class="m-4 btn btn-primary">Create or upload watermark</a>
                    </div>
                <% } %>
            </main>
        </div>

        <%- include('partials/footer') %>
    </body>

</html>
