<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('index/global/head') %>

        <link rel="stylesheet" href="css/landingstyles.css" />

        <title>EFAS ART</title>
    </head>

    <body>
        <div class="container-fluid banner">
            <div class="row">
                <div class="col-md-12">
                    <!-- Navigation -->
                    <nav class="navbar navbar-md">
                        <a href="/">
                            <div class="navbar-brand">EFAS ART</div>
                        </a>

                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#signup" href="#">SIGN UP</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- Navigation End -->
                </div>

                <div class="col-md-8 offset-md-2 info">
                    <h1 class="text-center">EFAS ART</h1>
                    <p class="text-center">
                        Share your masterpiece without being robbed! <br>
                        Be creative, be proud, be safe, <br>
                        Be <em>efas!</em>
                    </p>
                    <a href="#" class="btn btn-md text-center" data-toggle="modal" data-target="#login">Log-In</a>
                </div>
            </div>
            <!-- Login and Signup -->
            <%- include('index/login_modal') %>

            <%- include('index/signup_modal') %>

            <%- include('index/forgot-pass_modal') %>

            <% if (verify_pass) { %>
            <%- include('index/verify-forgot_modal', { uid: uid }) %>

            <script>
                $(window).on('load', () => {
                    $('#new-pass').modal('show')
                })
            </script>
            <% } %>
        </div>

        <%- include('index/global/footer') %>

        <script src="js/auth/validation.js"></script>
        <script src="js/auth/signup.js"></script>
        <script src="js/auth/login.js"></script>
        <script src="js/auth/forgot-pass.js"></script>

        <% if (verify_pass) { %>
        <script src="js/auth/verify-new-pass.js"></script>
        <% } %>
    </body>

</html>
