<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('partials/head_meta') %>

        <title><%= user.handle %> - About | EFAS Art</title>

        <%- include('scripts/stylesheet') %>

        <%- include('partials/head_styles') %>

        <link rel="stylesheet" href="/css/user-page.css">
        <link rel="stylesheet" href="/css/user-page_collections.css">

    </head>

    <body>
        <%- include('partials/nav-bar', { active: 0 }) %>

        <div id="content-cont" class="container mb-5">
            <%- include('partials/user/header', {
                user: user,
                page: 'about'
            }) %>

            <main>
                <%- include('partials/user/nav', { 
                    user,
                    active: 3
                }) %>

                <div class="row mb-5">
                    <div class="col-4 d-flex align-items-center justify-content-center">
                        <img src="https://drive.google.com/uc?export=view&id=<%= user.pic %>" alt="" width="250" height="250">
                    </div>
                    <div class="col">
                        <div class="container-fluid">
                            <h1 class="display-1 my-3"><%= user.name %></h1>
                            <p class="lead mt-4"><%= user.bio %></p>
                        </div>
                    </div>
                </div>


            </main>
        </div>

        <%- include('partials/footer') %>
    </body>

</html>
