<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('partials/head_meta') %>

        <title><%= user.handle %> - Works | EFAS Art</title>

        <%- include('scripts/stylesheet') %>

        <%- include('partials/head_styles') %>

        <link rel="stylesheet" href="/css/user-page.css">
        <link rel="stylesheet" href="/css/user-page_works.css">

        <style>
            #allworks-cont {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                justify-items: center;
            }

        </style>
    </head>

    <body>
        <%- include('partials/nav-bar', { active: 0 }) %>

        <div id="content-cont" class="container mb-5">
            <%- include('partials/user/header', {
                user: user,
                page: 'works'
            }) %>

            <main>
                <%- include('partials/user/nav', { 
                    user,
                    active: 1
                }) %>

                <h3 class="mb-3">All works</h3>

                <% if (works.length > 0) { %>
                <div id="allworks-cont" class="container-fluid gap-3 mb-5">
                    <% for (let work of works) { %>

                    <%- include('data/user_art', {
                            art_id: work.id,
                            art_src: work.pic,
                            art_title: work.title
                        }) %>

                    <% } %>

                </div>
                <% } else { %>

                <div class="container-fluid mb-3">
                    <p class="text-muted text-center">This user doesn't have any works yet</p>
                </div>

                <% } %>
        </div>
        </main>
        </div>

        <%- include('partials/footer') %>
    </body>

</html>
