<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('partials/head_meta') %>

        <title>Document</title>

        <%- include('scripts/stylesheet') %>

        <%- include('partials/head_styles') %>

        <link rel="stylesheet" href="/css/user-page.css">
        <link rel="stylesheet" href="/css/user-page_collections.css">
        <link rel="stylesheet" href="/css/user-page_show-art.css">
    </head>

    <body>
        <%- include('partials/nav-bar', { active: 0 }) %>

        <main id="content-cont">
            <div class="container d-flex my-5 mx-auto">
                <div class="art-cont rounded d-flex-column container-fluid text-light p-0 pb-5">
                    <div class="art-cont_wrapper">
                        <img src="<%= art.pic %>" alt="art" class="img-fluid">
                    </div>

                    <div class="art-cont_details container pt-5">
                        <div class="d-flex justify-content-between mb-3" style="align-items: center">
                            <h1 class="display-4"><%= art.title %></h1>
                            <button type="button" class="like-btn btn btn-primary">
                                <i class="far fa-heart me-1"></i>
                                Like
                            </button>
                        </div>

                        <% art.desc.forEach(p => { %>
                            <p><%= p %></p>
                        <% }) %>

                        <div class="art-cont_tags py-5">
                            <h2>Tags</h2>
                            <div class="pt-3 d-flex gap-2">
                                <% art.tags.forEach(tag => { %>
                                    <span class="badge rounded-pill bg-light text-dark">
                                        <%= tag %>
                                    </span>
                                <% }) %>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="art-cont_details mt-5">
                        <h2>Comments</h2>
                        <form class="user-comment-cont pt-3">
                            <img class="rounded-circle" src="<%= user.pic %>" alt="pfp" width="40" height="40"
                                style="background-color: #FAFAFA">
                            <input class="form-control" placeholder="Leave a comment" type="text" aria-label="Search">
                            <button class="btn btn-primary" type="submit">
                                <i class="far fa-comment me-1"></i>
                                comment
                            </button>
                        </form>

                        <% if (art.comments.length > 0) { %>
                            <% art.comments.forEach(comment => { %>
                                <p><%= comment.text %></p>
                            <% }) %>
                        <% } else { %>
                            <div class="comments-cont d-flex justify-content-center my-5">
                                <span class="no-comments">there are no comments yet</span>
                            </div>
                        <% } %>
                    </div>
                </div>

                <div class="username-div w-auto container-fluid ps-5 pe-0">
                    <div class="username-cont mw-100">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="<%= user.pic %>" alt="pfp" width="40" height="40"
                                style="background-color: #FAFAFA">
                        </div>

                        <div>
                            <span id="username"><%= user.name %></span>
                        </div>
                    </div>

                    <button id="follow-btn" type="button" class="my-3 btn btn-primary w-100">
                        <i class="fas fa-plus me-1"></i>
                        Follow
                    </button>

                    <div class="d-flex justify-content-between my-3">
                        <span>Other works</span>
                        <span class="text-muted">view all</span>
                    </div>
                    <div class="user-arts-prev-cont gap-2 w-100">
                        <% user.rec_arts.forEach(art => { %>
                            <div class="user-arts-prev">
                                <img src="<%= art.pic %>" alt="" width="75" height="75">
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </main>

        <%- include('partials/footer') %>
    </body>

</html>
