<!DOCTYPE html>
<html lang="en" style="font-size: 16px;">

    <head>
        <%- include('global/head') %> 

        <title>Profile</title>

        <%- include('scripts/efas') %> 

        <%- include('scripts/logo') %> 

        <%- include('styles/fonts/Roboto') %> 

        <%- include('styles/fonts/Raleway') %>

        <link rel="stylesheet" href="styles/Profile.css" media="screen">
    </head>

    <body class="u-body u-stick-footer">

        <%- include('partials/nav-bar') %> 
        
        <section class="u-clearfix u-gradient u-section-1" id="sec-9d17">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                    <div class="u-layout">
                        <div class="u-layout-row">
                            <div
                                class="u-align-center u-container-style u-layout-cell u-left-cell u-size-23 u-layout-cell-1">
                                <div class="u-container-layout u-valign-middle u-container-layout-1">
                                    <div alt="" class="u-image u-image-circle u-image-1" src="" data-image-width="256"
                                        data-image-height="256"></div>
                                </div>
                            </div>
                            <div
                                class="u-align-left u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-2">
                                <div class="u-container-layout u-container-layout-2">
                                    <h2 class="u-text u-text-1">John Doe</h2>
                                    <h4 class="u-custom-font u-font-raleway u-text u-text-2">@john_doe</h4>
                                    <p class="u-text u-text-3">Paragraph. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus
                                        quis elementum. Phasellus sed efficitur dolor, et ultricies sapien. Quisque
                                        fringilla sit amet dolor commodo efficitur. Aliquam et sem odio. In ullamcorper
                                        nisi nunc, et molestie ipsum iaculis sit amet.</p>
                                    <a href="Settings.html" data-page-id="831401512"
                                        class="u-active-custom-color-1 u-btn u-button-style u-custom-color-3 u-hover-custom-color-2 u-btn-1">Settings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer') %> 

    </body>

</html>
